#grid {
    background-color: blue;
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto;
}

.grid-items {
    background-color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}