h1 {
    color: red;
}

.nav li {
    display: flex;
    justify-content: center;
}

ol li {
    list-style: none;
}

th {
    background-color: blue;
    color: white;
}

#bruno {
    background-color: red;
    color: green;
}

#leah {
    background-color: aqua;
}

#Unordered {
    color: blue;
}

#Ordered {
    color: red;
}

#veg {
    color: green;
}

.veg {
    color: lightgreen;
}

.meat {
    color: red;
}

.table{
    background-color: yellow;
}

#mainp {
    font-size: 20px;
    text-decoration: line-through;
    font-family:'Courier New', Courier, monospace;
    font-weight: 300;
}


.kapakana {
  font-family: "Kapakana", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.highlight {
    background-color: yellow;
}

#game {
    width: 200px;
    float: left;
}

#startover {
    width: 100px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    float: right;
}

.hoverOut {
    color: red;
    background-color: yellow;
}

.hoverIn {
    background-color: red;
    color: yellow;
}

#second {
    color: green;
    font-size: 20px;
}

#bruno {
    color: red;
}

#leah {
    color: yellow;
}

.ol {
    color: aqua;
}

#box1 {
    background-color: yellow;
    margin: 30px 50px 30px 50px;
}
